@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    margin: 0;
    background-image: url("background.png");
    color: #1d3124;
}

a {
    color: #1d3124;
    text-decoration: none;
}

#main-header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1vh 0 1vh;
    margin: 1vh 0 1vh 0;
}

#logo img {
    height: 100%;
}

#title {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#title h1 {
    margin: 0;
    font-size: 4vh;
    letter-spacing: .4vh;
}

#title h2 {
    margin: 0;
    font-size: 1.6vh;
    border-top: .5vh solid #1d3124;
}

#log-out {
    margin: 2vh 0 2vh 0;
}

#log-out-button {
    padding: 0 2vw 0 2vw;
    background-color: #1d3124;
    color: #f6f4e8;
    border-radius: .6vh;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

#menu {
    width: 100vw;
}

#mask {
    position: absolute;
    overflow: hidden;
    transform: translatey(-.5vh);
    width: 100%;
}

#active-list {
    background-color: #bacec1;
    text-align: center;
    padding: 1vh;
    box-sizing: border-box;
}

h3 {
    font-size: 4vh;
    margin: 0;
    padding: 0;
}

#hiding-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform .4s ease-in-out;
    background-color: #bacec1;
    padding: .5vh 20vw 2vh 20vw;
    box-sizing: border-box;
}

.closed-menu #hiding-menu{
    transform: translateY(-100%);
}

.closed-menu {
    pointer-events: none;
}

.menu-option:first-child {
    border-top: 1px #1d3124 solid;
}

.menu-option {
    padding: 1vh 0 1vh 0;
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    border-bottom: 1px #1d3124 solid;
}

.list {
    font-style: italic;
    width: 50%;
    box-sizing: border-box;
}

.item-count {
    box-sizing: border-box;
    text-align: right;
    width: 50%;
}

#add-list {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#add-item {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: center;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
}


#menu input[type=text] {
    height: 4vh;
    font-size: 2.5vh;
    width: 80%;
    margin: 1vh 0 1vh 0;
    padding-left: 1vw;
}


#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.no-bg {
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: transparent;
    box-sizing: border-box;
    fill: none;
}

input[type=submit].no-bg {
    text-align: center;
    font-size: 3.6vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    padding: 0;
    color: gray;
}

input[type=text].no-bg {
    height: 4vh;
    font-size: 2.6vh;
    width: 30vw;
    padding-left: 2vw;
    padding: 0;
}

input[type=text].no-bg:focus {
    outline: none;
    border: none;
    border-bottom: black 1px solid;
    padding-top: 1px;
    outline: black;
    color: black;
}

input[type=text].no-bg:focus::placeholder {
    content: "";
}

input[type=submit].no-bg:hover {
    outline: solid black 1px;
    color: black;
}


#main {
    background-color: #f6f4e8;
    width: 100%;
}

#items {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 3vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#items li {
    list-style-type: none;
    padding: 1vh;
    text-align: center;
}

#quote, #author {
    display: none;
}

@media only screen and (min-width : 992px) {

    main {
        box-sizing: border-box;
    }

    #main-header {
        margin: 3vh 4vw 3vh 4vw;
    }

    .closed-menu #hiding-menu {
        transform: none;
    }

    #menu {
        width: 20vw;
        border-right: 1px solid #1d3124;
    }

    
    #mask {
        position: relative;
    }
    
    #active-list {
        background-color: inherit;
    }
    
    #hiding-menu {
        padding: 1vh 0 1vh 0;
        transition: none;
        background-color: inherit;
    }
    
    .list {
        padding-left: 2vw;
    }

    .item-count {
        padding-right: 2vw;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.6vh;
    }
    
    #menu input[type=text] {
        margin-left: 1vw;
        padding-left: .2vw;
        font-size: 2.4vh;
        width: 70%;
    }
    input[type=text].no-bg:focus {
        padding-top: 1px;
    }

    #menu input[type=submit] {
        margin-right: 1vw;
    }

    #container {
        justify-content: center;
        flex-direction: row;
        border-top: 1px solid #1d3124;
        box-sizing: border-box;
        width: 100%;
    }

    #items {
        font-size: 4vh;
    } 

    #title {
        flex-direction: row;
    }

    #title h1 {
        font-size: 10vh;
        display: flex;
        align-items: center;
    }

    #title h2 {
        display: none;
    }

    #title h3 {
        margin-left: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quote {
        display: block;
        font-size: 3.5vmin;
    }
    #author {
        display: block;
        font-size: 3vmin;
    }

}