<header id="main-header">
    <div id="mode-changer">
        <i class="fi fi-rr-sun light-only"></i>
        <i class="fi fi-rr-moon dark-only"></i>
        <label class="switch">
            <input type="checkbox" onclick="dark()">
            <span class="slider round">
            </span>
        </label>
    </div>

    <div id="title">
        <h1>
            TO-DO
        </h1>
        <h2>
            Do all you have to do!
        </h2>
        <h3>
            <div id="quote">We Become What We Think About</div>
            <div id="author">- Earl Nightingale</div>
        </h3>
    </div>

    <div id="log-out">
        <a href="log-out.php">
            <div id="log-out-button">
                <i class="fi fi-rr-sign-out"></i>
            </div>
        </a>
    </div>
</header>